@import './style/stars.css';
@import './style/catalog.css';
@import './style/header.css';
@import './style/main.css';
@import './style/nav.css';
@import './style/card.css';
@import './style/review.css';
@import './style/price.css';

h1, h2, h3, h4, p, ul, ol {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: "Roboto", sans-serif;
}